
.timer{
  font-size: 95px;
}
.center {
  margin: auto;
  width: 50%;
  padding: 5px;
  text-align: center;
}
.timer-button-row button,
.timer-button-row a {
  margin-right: 8px;
  width: 200px!important;
  min-width: unset!important;
  font-size: 30px;
}

